</br>
  <div class="container">
    <h1>New game</h1>
      <div class="container">
        <div class="row">
          <% @letters.each do |letter| %>
          <div class="col-1 card"><%= letter %></div>
          <% end %>
        </div>
      </div>
    </div>
